@model WebMVC_Manha.Models.Musica
@{
    ViewData["Title"] = "Bem-vindo (a)!";
}

<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Mensagem"]</h3>

<p><strong>Titulo</strong></p>
<p>@Model.Titulo</p>
<p><strong>Estilo</strong></p>
<p>@Model.Estilo</p>
<p><strong>Compositor</strong></p>
<p>@Model.Compositor</p>

