@using EstacionamentoWEB.Models

@{
    Layout = "Masterpage";
    ViewBag.Title = "Lista de Cadastros";
}
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Nome Usuário</th>
            <th scope="col">Modelo do Carro</th>
            <th scope="col">Marca do Carro</th>
            <th scope="col">Placa do Carro</th>
            <th scope="col">Momento da entrada</th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in ViewData["entrada"] as List<Entrada>) {
        <tr>
            <td>@item.Id</td>
            <td>@item.Usuario</td>
            <td>@item.Marca.Nome</td>
            <td>@item.Modelo.Nome</td>
            <td>@item.Placa.Nome</td>
            <td>@item.DataEntrada</td>
        </tr>
    }
    </tbody>
</table>